<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulos</title>
    <link rel="stylesheet" href="/tyylit.css" type="text/css">
</head>
<body>
    <main>
    <h1>PeliTiedot</h1>
    <p>Numero: <%= tulos.numero %></p>
    <p>Nimi: <%= tulos.nimi %></p>
    <p>Lukumaara: <%= tulos.lukumaara %></p>
    <p>Arvostelu: <%= tulos.arvostelu %></p>
    <p>Genre: <%= tulos.genre %></p>
    <a href="/"><button>Valikko</button></a>
</main>
</body>
</html>